{
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "rules": {
        "arrow-parens": [
            "error",
            "always"
        ],
        "linebreak-style": 0,
        "no-console": "off",
        "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"]
    },
    "env": {
        "jest": true
    }
}